.header {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 50px;
}

.header__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.button .MuiIconButton-label {
  /* color: rgba(128, 128, 128, 0.574); */
  width: 40px;
  height: 40px;
  /* color: black !important; */
  border-radius: 80%;
  padding: 4px;
  /* background-color: rgba(128, 128, 128, 0.574); */
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
}

.home__icon .MuiSvgIcon-root,
.exit__icon .MuiSvgIcon-root,
.edit__icon .MuiSvgIcon-root,
.done__icon .MuiSvgIcon-root,
.person__icon .MuiSvgIcon-root {
  width: 40px !important;
  height: 40px !important;
  font-size: "large";
  color: black !important;
  /* background-color: white !important; */
  padding: 4vw !important;
}
