.tinderCards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  /* height: 70vh; */
  /* padding: 20px; */
  max-width: 500px;
  max-height: 500px;
  border-radius: 100px;
  /* padding: 20px; */
  /* margin: 20px auto; */
}

.tinderCards__cardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.tinderCards__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  /* width: auto; */
  /* max-width: 100%; */
  max-height: 90%;
  object-fit: contain;
}

.tinderCards > h3 {
  /* bottom: 10px; */
  color: white;
  /* font-size: 24px; */
}
