.tinderCards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 70vh;
  padding: 20px;
  max-width: 800px;
  border-radius: 100px;
  padding: 20px;
  margin: 20px auto;
}

.tinderCards__cardContainer {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tinderCards__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  object-fit: cover;
}

.tinderCards > h3 {
  bottom: 10px;
  color: white;
  font-size: 24px;
}
