.home {
  position: relative;
}

.home__textbox {
  /* margin-top: 0vh; */
}

.home__textbox textarea {
  width: 80%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  /* padding: 10px; */
  font-size: 16px;
  /* line-height: 1.5; */
}
