.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.profile__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile__avatar {
  width: 200px;
  height: 200px;
  margin-right: 5vw;
  flex-shrink: 0;
  padding-left: 14px;
}
.profile__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  flex-grow: 1;
}

.profile__name {
  margin-bottom: 10px;
}

.profile__link {
  margin-top: 20px;
  display: block;
}

.profile__link a {
  color: #000;
  text-decoration: underline;
  display: inline-block;
}

.profile__section {
  margin: 20px;
  margin-top: 0px;
  padding: 0px;
}

.profile__textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.profile__textarea[readonly] {
  background-color: #f0f0f0;
}
.profile__textarea:not([readonly]) {
  background-color: #fff;
}

.profile__label {
  font-size: 20px;
  margin-right: 5px;
}

.profile__link a {
  color: #0366d6;
  text-decoration: none;
  border-bottom: 1px solid #0366d6;
}

.profile__link a:hover {
  color: #003d7f;
  border-bottom-color: #0056b3;
}
