.profile {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.profile__header {
  margin: 0 100px 0 0;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.profile__avatar {
  width: 120px;
  height: 100%;
  margin-right: 4vw;
}

.profile__user-info {
  width: 80%;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: left;
}

.info__field {
  width: 80%;
}

.profile__name {
  margin-bottom: 10px;
}

.profile__link {
  margin-top: 20px;
  /* display: block; */
}
.profile__section {
  /* margin: 20px; */
  margin-top: 0px;
  /* padding: 0px; */
}

.profile__label {
  font-size: 20px;
  margin-right: 5px;
}
