.App .App-body {
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.App {
  height: 160px;
}

.App-body {
  margin-top: 80px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}
